@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: sans-serif;
}

.bg-container {
    min-height: 100vh;
    background:#EBF3FB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 95%;
    background: #fff;
    box-shadow: 0px 24px 28px 9px rgba(179, 193, 217, 0.33);
    border-radius: 15px;
    padding: 40px;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

.headset-image {
    height: 250px;
    width: 240px;
    margin-top: 0;
}

.shipping-card {
    order: 1;
}

.shipping-offer{
    background: #191847;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 10px;
    border: 1px solid #191847;
    cursor: pointer;
    color: #fff;
}

.product-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    color: #191847;
    margin-bottom: 10px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 115px;
}

.original-price {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #191847;
    text-decoration: line-through;
}

.offer-price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #191847;
}

.offer-validity {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #191847;
    opacity: 0.6;
    margin-top: 5px;
}

.add-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 100%;
    height: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
    background: #4788e9;
    box-shadow: 0px 7px 0px #1c57ee;
    border-radius: 8px;
    margin-bottom: 1.3rem;
    border-width: 0;
}

.stock-container {
    display: flex;
    order: 2;
}

.stock-status-icon {
    font-size:10px;
    margin: 4px 4px;
    color:#04fc78;
}

.stock-count {
    color: #000000;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    order: 3;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 45px;
    border: 2px solid #c9c9da;
    border-radius: 8px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #191847;
    background-color: transparent;
}


.icon {
    font-size: 1.7rem;
    font-weight: 500;
    display: none;
}


@media screen and (min-width:768px) {
    .card {
        flex-direction: row;
        align-items: flex-start;

    }

    .shipping-card {
        order: 0;
    }

    .shipping-offer {
        font-size: 1rem;
        order: 1;
    }

    .product-title {
        font-size: 1.3rem;
    }

    .offer-price {
        font-size: 2.5rem;
    }

    .buttons {
        order: 2;
    }

    .icon {
        display:block;
        margin-right: 10px;
        opacity: 0.8;
    }

    .button {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:992px) {
    .card {
        width: 890px;
        height: 660px;
        padding: 82px;
    }

    .card-content {
        padding: 0px;
        height: 450px;
    }

    .shipping-offer {
        align-items: flex-start;
        padding: 4px 8px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }

    .headset-image {
        height: 300px;
    }

    .product-title {
        font-size: 1.75rem;
        line-height: 2.5rem;
        color: #191847;
        margin-bottom: 32px;

    }

    .price {
        padding: 0px;
        width: 370px;
        height: 115px;
        margin-bottom: 2.3rem;
    }


    .offer-price {
        font-size: 3.5rem;
        line-height: 5rem;

    }


    .offer-validity {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .add-btn {
        padding: 16px;
        width: 442px;
        height: 59px;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2.3rem;

    }


    .stock-count {
        margin-bottom: 32px;
    }

    .buttons {
        padding: 0px;
        width: 445px;
        height: 65px;
        margin-bottom: 10px;
        flex-wrap: nowrap;
    }

    .button {
        width: 50%;
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
